@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<MudText Typo="Typo.h6">
    Current count: @currentCount
</MudText>
<MudButton Variant="Variant.Filled"
           Color="Color.Primary"
           OnClick="ButtonOnClick">
    Click Me!
</MudButton>

@code
{
    private int currentCount = 0;

    void ButtonOnClick()
    {
        currentCount++;
    }
}