@page "/tools"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Configuration
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration

<PageTitle>Data Tools</PageTitle>

<h1>Data Tools - Do Not Touch</h1>

output: @msg

@code
{
	public string msg = "Hello World";
	private string baseUrl;

	protected override void OnInitialized()
	{
	    msg = Configuration["ApiSettings:BaseUrl"];
	}
}