@page "/tools"

<PageTitle>Data Tools</PageTitle>

<h1>Data Tools - Do Not Touch</h1>

<MudButton Variant="Variant.Filled"
           Color="Color.Primary"
           OnClick="LoadOldData">
    Load Data
</MudButton>

@code
{
    void LoadOldData()
    {
        
    }
}