@page "/tools"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Data Tools</PageTitle>

<h1>Data Tools - Do Not Touch</h1>

output: @msg

@code
{
	private readonly IHttpContextAccessor _httpContextAccessor;
	public string msg = "test111";
	
	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		msg = user.Identity.Name;
	}
}